
.header{
    .uk-navbar-container{
        background-color: rgba(56,64,78,.85) !important;
    }  
    li.brand-logo span{
        font-size: 2vw;
    }  
    li.category{
        color: #fff;
    }
}

.primary-text {
    color: #fff;
}
.nav-text {
    color: #2ddbac;
}